<div class="container text-center mt-5">
  <h1>404 - Not Found</h1>
  <p>We are sorry, the page you are trying to acces doesn't exist.</p>
  <a href="/" class="btn btn-primary">Back to main page</a>
</div>
